body {
    font-family: 'Roboto', sans-serif;
}

.footer {
    position: fixed;
    padding: 30px 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.content-container > p {
    margin: 30px auto;
    width: 80%;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: rgb(43,96,88);
}

.icon {
    margin: 0 10px;
    cursor: pointer;
}

.product {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.product > p {
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    border-bottom: 1px solid rgb(43,96,88);
    color: rgb(43,96,88);
}

.products {
    width: 100%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.menu-button {
    border: none;
    background-color: transparent;
    margin-right: 20px; 
    cursor: pointer;
}

#logo {
    height: 300px;
    width: 300px;
    margin-top: 20px;

    @media(max-width: 450px) {
        width: 200px;
        height: 200px;
    }
}
