body {
  background-color: black;
}
#titleCard {
  background-color: black;
  display: flex;
  justify-content: center;
  size: 5cm;
}
#built_by{
 color: "white";
  display:"flex" 
}
.contactForm{
  height:1000px
}
